body{
    margin:0;
    padding:0;
}
.box-container{
    padding-bottom: 12rem;
}
.box{
    width:10rem;
    height:10rem;
    background-color: aquamarine;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
.box-container .box .boxItem{
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    padding: 0.5rem;
    list-style: none;
    margin: 0.5rem
}